/* Reset styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 18px;
    background-color: white;
}

/* Container */
.content {
    margin: 0 auto;
    max-width: 1280px;
    background-color: white;
}

.container {
    background-color: #F2F2F2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    height: 100px;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-logo {
    order: -1;
}

nav a {
    color: #31393C;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #777;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    font-size: 24px;
}

.menu-items {
    margin-left: 50px;
    display: flex;
}

.menu-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-buttons button {
    padding: 5px 15px;
    margin-left: 10px;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.menu-buttons .blue-button {
    background-color: #003D86;
    color: #fff;
}

.menu-buttons .blue-button:hover {
    background-color: #001f4d;
}

.menu-buttons .yellow-button {
    background-color: #FFB703;
    color: #31393C;
}

.menu-buttons .yellow-button:hover {
    background-color: #cc9400;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    .menu-buttons {
        display: none;
        margin-top: 10px;
    }

    .menu-icon {
        display: block;
        order: -1;
    }

    .menu-items {
        display: none;
        width: 100%;
        margin-left: 0px;
    }

    .menu-items.show {
        display: flex;
        flex-direction: column;
    }
}

/* Banner image */
.banner-afbeelding img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    display: block;
}

/* Yellow bar */
.yellow-bar {
    background-color: #FFB703;
    color: #003D86;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-bar p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

/* Brick container and columns */
.brick-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
}

.brick {
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 1;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.brick img {
    max-width: 100%;
    height: auto;
}

.brick h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #003D86;
}

.brick p {
    margin-top: 5px;
    font-size: 18px;
    color: #31393C;
}

/* Text + afbeelding */
.text-afbeelding {
    background-color: white;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-afbeelding img {
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: 36px;
}

.text h2 {
    font-size: 26px;
    color: #003D86;
}

.text {
    width: 500px;
}

/* Footer */
footer {
    background-color: #003D86;
    color: white;
}

.footer-brick-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
}

.footer-brick {
    flex: 1;
    margin-left: 36px;
}

.footer-brick h3 {
    font-size: 23px;
    margin-top: 36px;
}

.footer-brick p {
    margin-top: 10px;
    margin-bottom: 36px;
}

.footer-brick ul {
    list-style-type: none;
    padding: 0;
}

.footer-brick ul li {
    margin-bottom: 5px;
}

.footer-brick a {
    color: white;
    text-decoration: none;
}

.footer-brick a:hover {
    text-decoration: underline;
}