/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
html {
    height: 100%;
}

body {
    animation: transitionIn 1s;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 18px;
    background-color: white;
    padding-top: 120px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    height: 100px;
    max-width: 1280px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container-nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    height: 100px;
    max-width: auto;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-logo {
    order: -1;
}

nav a {
    color: #31393C;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: #FFB703;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-items {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-buttons button {
    padding: 5px 15px;
    margin-left: 10px;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.menubar-mobiel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #003D86;
    margin: 6px 0;
}

.material-icons {
    position: absolute;
    left: 20px;
    top: 40px;
}

/* Buttons */
button[type="submit"] {
    background-color: #003D86;
    color: #fff;
    padding: 3px 10px;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #001f4d;
}

.blue-button {
    background-color: #003D86;
    color: #fff;
}

.blue-button:hover {
    background-color: #001f4d;
}

.yellow-button {
    background-color: #FFB703;
    color: #31393C;
}

.yellow-button:hover {
    background-color: #cc9400;
}

.menu-buttons-404 button {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.blue-button-404 {
    background-color: #003D86;
    color: #fff;
}

.blue-button-404:hover {
    background-color: #001f4d;
}

/* Yellow bar */
.yellow-bar {
    background-color: #FFB703;
    color: #003D86;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-bar p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* Table */
.action-cell {
    width: 150px;
}

.contact-grid {
    margin-bottom: 25px;
}

.table-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-grey,
.table {
    width: 100%;
    border-collapse: collapse;
}

.table-grey h2,
.table h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
    color: #003D86;
    font-weight: bold;
}

.table-grey-content {
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: #f2f2f2;
    overflow-x: auto;
}

.table-content {
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: white;
    overflow-x: auto;
}

.table-grey th,
.table-grey td,
.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-grey th,
.table th {
    background-color: #f2f2f2;
}

.table-grey a,
.table a {
    text-decoration: none;
    color: blue;
}

td {
    color: #67697B;
}

/* Text */
.text {
    width: 100%;
}

.text h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
    color: #003D86;
    font-weight: bold;
}

.text p {
    margin-top: 0;
}

/* Profile */
.background-grey {
    background-color: #f2f2f2;
}

.info h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
    color: #003D86;
    font-weight: bold;
}

/* Agenda */
.fc-event {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.fc-day-header {
background-color: #003D86;
color: white;
}

.fc-axis{
background-color: #003D86;
color: white;
}

.fc-next-button {
background-color: white;
}

.min-h-screen {
min-height: 10vh;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .table-grey,
    .table {
        width: 48%;
    }

    .text {
        width: 48%;
    }
}

/* Keyframes / Animation */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX('-10deg');
    }

    to {
        opacity: 1;
        transform: rotateX('0');
    }
}
